main {
  width: 100%;
  margin: 0px auto;
  max-width: 720px;
  background: #024A8D;
  padding: 0 0.5rem;
}
.s-younger_member main {
  background: #001942;
}
.s-section main {
  background: #000000;
}
footer {
  min-height: 40px;
}
.s-younger_member footer {
  background: #001942;
}
.s-section footer {
  background: #000000;
}
h1 {
  padding-top: 0;
  line-height: 1.25;
}
.s-younger_member h1 {
  color: #001942;
}
.s-section h1 {
  color: #000000;
}
input[type] {
  margin: 0 0 1.5rem 0;
}
.o-FlexContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) {
  .o-FormField {
    width: 58.33333333%;
    margin-left: 16.66666667%;
    margin-right: 25%;
  }
}
.o-FormField__Label {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0;
}
@media only screen and (min-width: 640px) {
  .o-FormField__Label {
    width: 33.33333333%;
    text-align: right;
  }
}
.o-FormField__Input {
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .o-FormField__Input {
    width: 66.66666667% !important;
  }
}
.o-FormField__Input--submit {
  position: relative;
}
@media only screen and (min-width: 640px) {
  .o-FormField__Input--submit {
    left: 33.33333333%;
  }
}
.o-LogoArea {
  display: block;
  padding: 1em 0;
}
.o-LogoArea a {
  display: inline-block;
}
.c-HeaderImg {
  display: block;
  width: 100%;
  padding: 0.25em 0;
}
.c-Content {
  background: #fff;
  padding: 0 1rem;
}
