@import (reference) url('../node_modules/xmeter/src/__settings.less');
@import (reference) url('../node_modules/xmeter/src/_tool.fallback.flexbox.less');

@color_ym: #001942;
@color_ss: #000;

main {
  width: 100%;
  margin: 0px auto;
  max-width: 720px;
  background: #024A8D;
  padding: 0 0.5rem;
  .s-younger_member & {
    background: @color_ym;
  }
  .s-section & {
    background: @color_ss;
  }
}

footer {
  min-height: 40px;
  .s-younger_member & {
    background: @color_ym;
  }
  .s-section & {
    background: @color_ss;
  }
}

h1 {
  padding-top: 0;
  line-height: 1.25;
  .s-younger_member & {
    color: @color_ym;
  }
  .s-section & {
    color: @color_ss;
  }
}

input[type] { // HACK override foundation
  margin: 0 0 1.5rem 0;
}
.o-FlexContainer {
  #XMETER .flexbox();
  #XMETER .flex-direction(row);
  #XMETER .flex-wrap(wrap);
  #XMETER .justify-content(space-between);
}

.o-FormField {
  #XMETER .CONSTS();
  @media only screen and (min-width: 480px) {
    width: @7o12;
    margin-left: @2o12;
    margin-right: @3o12;
  }
}
.o-FormField__Label {
  #XMETER .CONSTS();
  width: @1o1;
  @media only screen and (min-width: 640px) {
    width: @1o3;
    text-align: right;
  }
  padding: 0.5rem 1rem 0.5rem 0;
}
.o-FormField__Input {
  #XMETER .CONSTS();
  width: @1o1;
  @media only screen and (min-width: 640px) {
    width: @2o3 !important; // HACK override foundation
  }
}
.o-FormField__Input--submit {
  #XMETER .CONSTS();
  position: relative;
  @media only screen and (min-width: 640px) {
    left: @1o3; // width of `.o-FormField__Label`
  }
}

.o-LogoArea {
  display: block;
  padding: 1em 0;
  a {display: inline-block;}
}

.c-HeaderImg {
  display: block;
  width: 100%;
  padding: 0.25em 0;
}

.c-Content {
  background: #fff;
  padding: 0 1rem;
}
