p Hi,
p {{$fName}} {{$lName}} reminded you to renew your ASCE membership.
p.
  The Section with the highest percentage of renewed members by
  December 12, 2014 will win a cash prize of $1,000!
p Go to <a href="http://www.asce.org/ymfinishline/">www.asce.org/finishline</a> today.
